.review-card {
    --max-width: 28rem;
    --image-size: 48px;
    --star-size: 24px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    max-width: var(--max-width);
    border: 1px solid var(--clr-accent);
    border-radius: 24px;
    box-shadow: 0rem .25rem .5rem hsl(0 0% 0% / .2);
    background-color: var(--clr-card-background);
}

@media (width > 60rem) {
    .review-card {
        --max-width: 34.25rem;
    }
    .review-card:nth-of-type(odd) {
        align-self: start;
    }
    .review-card:nth-of-type(even) {
        align-self: end;
    }
}

@media (width > 72rem) {
    .review-card {
        --max-width: 41.25rem;
    }
}

@media (width > 84rem) {
    .review-card {
        --max-width: 52rem;
    }
}

.review-card img {
    height: var(--image-size);
    width: var(--image-size);
}

.rating svg {
    aspect-ratio: 1;
    height: var(--star-size);
    margin-right: 0.25rem;
}

.reviewer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.reviewer-info h4 {
    font-weight: 500;
}

.reviewer-info p {
    color: var(--clr-grey);
}