.review-card {
    --max-width: 420px;
    --image-size: 48px;
    --star-size: 24px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    max-width: var(--max-width);
    border: 1px solid var(--clr-accent);
    border-radius: 24px;
    box-shadow: 0rem .25rem .5rem hsl(0 0% 0% / .2);
    background-color: var(--clr-card-background);
}

.review-card img {
    height: var(--image-size);
    width: var(--image-size);
}

.rating svg {
    aspect-ratio: 1;
    height: var(--star-size);
    margin-right: 0.25rem;
}

.reviewer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.reviewer-info h4 {
    font-weight: 500;
}

.reviewer-info p {
    color: var(--clr-grey);
}