footer {
    --icon-size: 48px;

    padding-inline: 1rem;
    padding-block: 1rem;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.footer-actions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 2rem;
}

.socials-icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socials-link {
    transition: all .3s ease-in-out;
    border-radius: 100%;
    padding: 0px;
}

.socials-icon {
    padding: 12px;
    filter: invert(90%) sepia(28%) saturate(2%) hue-rotate(257deg) brightness(107%) contrast(100%);
    width: var(--icon-size);
    height: var(--icon-size);
    transition: all .3s ease-in-out;
}

/* hover effects */
.socials-link:hover {
    background-color: var(--clr-light);
    transform: scale(0.8);
}

.socials-link:hover > svg {
    filter: none;
    fill: var(--clr-dark);
}

.socials-icon:hover {
    transform: scale(0.8);
}

.back-to-top-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    stroke: var(--clr-light);
    border-radius: 100%;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.back-to-top-icon:hover {
    background-color: var(--clr-light);
    fill: var(--clr-dark);
    color: var(--clr-dark);
    stroke: var(--clr-dark);
    transform: scale(0.8);
}

.copyright {
    margin-left: 0.5rem;
}

@media (width < 20rem) {
    footer {
        --icon-size: 32px;
        padding-inline: 0.75rem;
    }
    .socials-icon {
        padding: 4px;
    }
}